@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.hide {
  display: none;
}

/* -------------------------
    Nav-bar Section
---------------------------- */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 80px 120px 40px 120px;
}
.nav-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
.nav-others {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
.nav-others ul {
  display: flex;
  gap: 35px;
}
.nav-others ul li {
  list-style: none;
}

/* -------------------------
    Banner Section
---------------------------- */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 132px 70px 120px;
}
.banner-title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 16px;
  color: #3a3a3a;
}
.banner-description {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
  color: #3a3a3a;
}
.btn-primary {
  padding: 10px 24px;
  color: white;

  border: none;
  background: #e02c6d;
  border-radius: 41px;
}
#circle {
  position: relative;
  top: 0;
  left: 0;
}
#main-camera {
  position: absolute;
  top: 230px;
  left: 750px;
}

/* -------------------------
    Media Query
---------------------------- */
@media only screen and (max-width: 576px) {
  .nav {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  #circle {
    position: relative;
    top: 0;
    left: 0;
    width: 320px;
  }
  #main-camera {
    position: absolute;
    top: 90px;
    left: 55px;
    width: 260px;
  }
}
