@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* -------------------------
    Nav-bar Section
---------------------------- */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 80px 120px 40px 120px;
}
.nav-title {
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
}
.nav-others {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}
.nav-others ul {
  display: flex;
  gap: 35px;
}
.nav-others ul li {
  list-style: none;
}

/* -------------------------
    Banner Section
---------------------------- */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 132px 70px 120px;
}
.banner-title {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 16px;
  color: #3a3a3a;
}
.banner-description {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
  color: #3a3a3a;
}
.btn-primary {
  padding: 10px 24px;
  color: white;
  border: none;
  background: #e02c6d;
  border-radius: 41px;
}
#circle {
  position: relative;
  top: 0;
  left: 0;
}
#main-camera {
  position: absolute;
  top: 230px;
  left: 750px;
}

/* -------------------------
    Company Section
---------------------------- */
.company {
  margin: 0 200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #dee4ec;
  border-bottom: 1px solid #dee4ec;
  padding: 35px 0;
}

/* -------------------------
    Popular Collection
---------------------------- */
.popular {
  margin: 100px 0;
}
.popular-title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 30px;
  color: #3a3a3a;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  padding: 0 200px;
}
.product {
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.product img {
  padding: 15px;
}
.product .product-title,
.product-price,
.product-ratings,
.product-description {
  padding-left: 15px;
  padding-bottom: 15px;
}
.product-title {
  font-weight: 500;
  font-size: 28px;
  color: #18191f;
}
.product-price {
  font-weight: 400;
  font-size: 24px;
}
.fa-star.filled {
  color: #fb8200;
}
.fa-star.empty {
  color: #5e6366;
}
.product-ratings-number {
  font-weight: 700;
  font-size: 16px;
  color: #5e6366;
}
.product-description {
  font-weight: 700;
  font-size: 14px;
  color: #787885;
}
.product-more {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  color: #e02c6d;
}

/* -------------------------
    Featured products
---------------------------- */
.featured {
  margin: 0 165px 100px 165px;
}
.featured-container {
  display: flex;
  gap: 100px;
  align-content: center;
}
.featured-image {
  display: flex;
}
.featured-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.featured-title {
  font-weight: 700;
  font-size: 38px;
  color: #0a0826;
}
.featured-description {
  font-weight: 700;
  font-size: 16px;
  color: #6c6c6c;
}
.featured .btn-primary {
  width: 155px;
  border-radius: 0;
}
/* -------------------------
    Media Query
---------------------------- */
@media only screen and (max-width: 576px) {
  .nav {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  #circle {
    position: relative;
    top: 0;
    left: 0;
    width: 320px;
  }
  #main-camera {
    position: absolute;
    top: 90px;
    left: 55px;
    width: 260px;
  }
  .company {
    margin: 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    border: none;
  }
  .collection-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
