// variable
$primary-color: hotpink;
$secondary-color: white;

// Nesting
nav {
  ul {
    border: 2px solid $primary-color;
    padding: 15px;
    li {
      color: purple;
      list-style: none;
      a {
        text-decoration: line-through;
      }
    }
  }
}

// nav ul {
// }
// nav li {
// }
// nav ul a {
// }

h1 {
  color: $primary-color;
}
p {
  color: $secondary-color;
  background-color: $primary-color;
  margin: 5px;
  padding: 15px;
}

ul {
}
li {
  color: $primary-color;
}
