$primary-color: hotpink;
$secondary-color: white;
h1 {
  color: $primary-color;
}
p {
  color: $secondary-color;
  background-color: $primary-color;
  margin: 5px;
  padding: 15px;
}

ul {
  border: 2px solid $primary-color;
}
li {
  color: $primary-color;
}
