* {
  margin: 0;
}

/* banner */

header {
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-image: url("../images/donation13.jpg");
}

.banner {
  padding: 160px 190px;
}

.section-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 20px;
}

.section-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
}

.btn-primary {
  font-family: "Inter", sans-serif;
  background: #ff5959;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 16px 35px;
  border: none;
  border-radius: 5px;
}

/* Donate Today */
.donation {
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 130px 300px;
}

.section-title2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}

.section-description2 {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 18px;
  margin-bottom: 50px;
}

.amount {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  margin-bottom: 60px;
}

.taka {
  color: #707070;
  font-weight: 700;
  font-size: 30px;
  background: #fafafa;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.de {
  background: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
}

.amount-other {
  color: #b3b3b3;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

hr {
  color: #bababa;
  margin-bottom: 30px;
}

/* Donate Plan */
.plan {
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 0 200px 20px 200px;
}

.option {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  margin-bottom: 60px;
  padding: 10px 130px 50px 130px;
}

.options {
  border-radius: 5px;
  padding: 0 20px;
  text-align: left;
}

.options .section-title2 {
  font-weight: 600;
  font-size: 24px;
}

.options .section-description2 {
  font-size: 16px;
}

.options img {
  margin-top: 60px;
  margin-bottom: 30px;
}

.food {
  background-color: #4f9da61a;
}

.shelter {
  background-color: #ff59591a;
}

.education {
  background-color: #fff4d6;
}
