* {
  margin: 0;
}

/* banner */

header {
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-image: url("../images/donation13.jpg");
}

.banner {
  padding: 160px 190px;
}

.section-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 20px;
}

.section-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
}

.btn-primary {
  font-family: "Inter", sans-serif;
  background: #ff5959;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding: 16px 35px;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background: #d04949;
}

/* Donate Today */
.donation {
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 130px 300px;
}

.section-title2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}

.section-description2 {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 18px;
  margin-bottom: 50px;
}

.amount {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 60px;
}

.taka {
  color: #707070;
  font-weight: 700;
  font-size: 30px;
  background: #fafafa;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.de {
  background: #ffeeee;
  color: #ff5959;
  border: 2px solid #ff5959;
}

.amount-other {
  color: #b3b3b3;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

hr {
  color: #bababa;
  margin-bottom: 30px;
}

/* Donate Plan */
.plan {
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 0 200px 20px 200px;
}

.option {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 60px;
  padding: 10px 130px 50px 130px;
}

.options {
  border-radius: 5px;
  padding: 0 20px;
  text-align: left;
}

.options .section-title2 {
  font-weight: 600;
  font-size: 24px;
}

.options .section-description2 {
  font-size: 16px;
}

.options img {
  margin-top: 60px;
  margin-bottom: 30px;
}

.food {
  background-color: #4f9da61a;
}

.food:hover {
  background-color: #4f9da641;
}

.shelter {
  background-color: #ff59591a;
}

.shelter:hover {
  background-color: #ff59593d;
}

.education {
  background-color: #fff4d6;
}

.education:hover {
  background-color: #ffeaae;
}

/* Reason 1 */
.reason {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 0 200px 100px 200px;
}

.reason1-text,
.reason2-text {
  text-align: left;
}

.reason2-text .section-description2 {
  margin-bottom: 20px;
}
.reason1-text .section-description2 {
  margin-bottom: 20px;
}

.reason img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

/* Get my Updates */
.updates {
  text-align: center;
  /* padding: 130px 300px; */
  padding: 0 300px 130px 300px;
}

.updates-text {
  padding: 0 200px;
}

.mail {
  display: flex;
  justify-content: center;
  padding: 130px 300px;
  background: #fff4d6;
}

#email {
  padding: 16px 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: #d9d9d9;
  border-radius: 5px;
}

/* footer */
footer {
  background-color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

footer h2 {
  font-family: "Lobster";
  color: #ff5959;
  font-size: 36px;
  margin-bottom: 20px;
}

footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
